@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

:root {
    --background-page: #F5F5F7;
    --background-header-footer: #035AA6;
    --color-header-footer: #F5F5F7;
    --ballon-whatsapp: #D9D9D9;
}

html {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-color: var(--background-page);
    /* padding: 0 .9rem; */
}

body {
    background-color: var(--background-page);
    max-width: 1440px;
    height: 100%;
}

header,
footer {
    background-color: var(--background-header-footer);
    color: var(--color-header-footer);
    display: flex;
    align-items: center;
    width: 100vw;
}

header {
    position: fixed;
    justify-content: space-between;
    left: 0;
    padding: .3rem 1rem;
}

footer {
    flex-direction: column;
    text-align: center;
    padding: .5rem;
    z-index: 99;
}

footer p {
    margin: .2rem;
    font-weight: 500;
}

h2,
h3,
p {
    margin: 1rem .8rem;
    text-align: justify;
}

h2 {
    font-size: 1.2rem;
    text-align: justify;
}

h3 {
    font-size: 1.2rem;
}

p {
    text-align: center;
}

#logo {
    height: 60px;
}

#openMenu {
    height: 40px;
}

#closeMenu {
    position: absolute;
    top: 0;
    right: 0;
    margin: .5rem .65rem;
    height: 50px;
    display: none;
    z-index: 1001;
}

#menu {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    gap: 5rem;
    background-color: var(--background-header-footer);
    display: none;
}

#menu li {
    font-size: 2rem;
    font-weight: 900;
}


#banner {
    padding: 69px 0 0 0;
    width: 100vw;
    display: flex;
}

#banner img {
    width: 100%;
}

.bold {
    font-weight: bold;
}

#btnWhatsapp,
#btnWhatsapp img,
#btnWhatsapp span {
    z-index: 9;
    position: fixed;
    bottom: 0;
    right: 0;
}

#whatsapp {
    height: 3rem;
    margin: 1.5rem 2rem;
    z-index: inherit;
}

#closeWhatsapp {
    height: 2rem;
    margin: 4.5rem 1rem;
    z-index: 1 !important; 
    z-index: 9999999;
}

#btnWhatsapp span {
    margin: 3.9rem 5rem;
    background-color: var(--ballon-whatsapp);
    width: 8rem;
    padding: .5rem;
    box-shadow: #000 1px 1px 10px ;
    text-align: center;
    font-weight: 600;
    border-radius: 34.5px 34.5px 0 34.5px;
    font-size: .8rem;
    z-index: initial;
}